
DATABASE_URL=
AUTH_SECRET="PMjiutasic9wwnjlaM0P5R6yT6W/wpXO4+XQx0="
AUTH_RESEND_KEY="re_aY2dM_4rSK32rrPa2soPzSEx"
AUTH_RESEND_DOMAIN=""


AUTH_GOOGLE_ID="906506103086-63c7hb5k9ovffg9be86364cmk5l.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET="GOCS-5gs0TN5mXcp6tjRbxeHqDK98"

DODO_API_KEY="b8sDVqZFJB7.qzkZl8EDxLjuYWeNfAaC2gGizV8uXaXMrNivWiC"
NEXT_PUBLIC_DODO_PRODUCT_ID="pdt_ejWk77z4ZL0OYz"
DODO_WEBHOOK_KEY="whsec_zs+cBU5Wn6tB1jP//5uQIXgPbc"