
DATABASE_URL=
AUTH_SECRET="PMjiutasic9wwnjlaM0P5R6yT6W/wpXO4+XQx0="
AUTH_RESEND_KEY="re_aY2dM_4rSK32rrPa2soPzSEx"
AUTH_RESEND_DOMAIN=""


AUTH_GOOGLE_ID="{CLIENT_ID}"
AUTH_GOOGLE_SECRET=""

DODO_PAYMENT_API_KEY="pYytGgFzmxO00l"
