DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/postgres"

RESEND_API_KEY="re_1234567890"

BETTER_AUTH_URL="http://localhost:8000"
BETTER_AUTH_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

INNGEST_DEV=1

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="ap-south-1"
S3_BUCKET_NAME=""

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET="whsec_placeholder"
STRIPE_PRICE_STARTER=""
STRIPE_PRICE_INFLUENCER=""
STRIPE_PRICE_STUDIO=""

MODAL_TOKEN_ID=""
MODAL_TOKEN_SECRET=""
API_KEY="secret"